[
  { "script": "/path_to_script/test01.sh",
    "email": "user@domain.net",
    "files": [ "[a-z]{2,3}wiki-([0-9]+)-pages-articles.xml.bz2" ]
  },
  { "script": "/other_path_to_script/test02.sh",
    "email": "user2@domain.net",
    "files": [ ".*" ]
  },
  {
    "conf": { "watchdirs":   [ "/dir1", "/dir2", "/dirN" ],
              "metadatadir": "/tmp/fs-notifier-meta",
              "http_port":   8664
            }
  },
  { "smtp": { "user": "username", "password": "password",
              "host": "SMTP host name", "ssl": true
            }
  }
]
